body {
  background-image: url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.dropdown-toggle::after {
  content: none;
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}


/*==================== Product card ==================================*/

.card img {
  max-height: 250px;
}

.card-body a {
  text-decoration: none;
}

.card-title {
  width: 285px;
  height: 60px;
  line-height: 18px;
  margin-bottom: 0;
  overflow: hidden;
}

.card-title:hover {
  color: #ee6e73;
  box-shadow: 0 10px 20px -15px rgba(0, 0, 0, 0.75);
}

.card-text {
  width: 285px;
  height: 130px;
  line-height: 18px;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
}

.card-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(180deg, transparent, #ffffff 65%);
}

.card-footer {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  height: 90px;
  overflow: hidden;
}

.card-footer p {
  font-size: 17px;
}
/*==================== END Product card ==================================*/